In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [6]:
df = pd.read_csv("user-item-rating.csv",  on_bad_lines='skip', sep = '\t', names = ['user_id', 'item_id', 'rating'])
df.head()

   user_id  item_id  rating
0      455       50     3.0
1      455      457     4.0
2      455       28     5.0
3      455      458     3.0
4      455      459     5.0

In [7]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

In [1]:
df.mean()

NameError: name 'df' is not defined